<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tungtomhum-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5212.site4now.net:8172/msdeploy.axd?site=tungtomhum-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tungtomhum-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>tungtomhum-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SachOnlineConnectionString10" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString10_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString11" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString11_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString12" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString12_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString2" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString3" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString4" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString5" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString6" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString6_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString7" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString7_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString8" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString8_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString9" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString9_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SachOnlineConnectionString" Order="13" Enabled="False">
          <Destination Path="Data Source=SQL5110.site4now.net;Initial Catalog=db_aa1bb7_admin;Persist Security Info=True;User ID=db_aa1bb7_admin_admin;Password=tungtomhum113" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SachOnlineConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=SachOnline;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString10-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString11-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString12-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString6-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString7-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString8-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SachOnlineConnectionString9-Web.config Connection String" />
    <MSDeployParameterValue Include="SachOnlineConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL5110.site4now.net;Initial Catalog=db_aa1bb7_admin;Persist Security Info=True;User ID=db_aa1bb7_admin_admin;Password=tungtomhum113</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>